.partnered_event_images{
    width: 346px; 
    height: 180px;
    border-radius: 10px;
}
.partnered_event_section{
   border-radius: 10px;
   background: #F7FCFD;
   height: 348px;
}
.partenered_events_heading{
    margin-top: 150px;
}
.events_type,
.organization_location{
    font-size: 12px;
}
.events_name{
    font-size: 20px;
}
.text_create_event{
    color: #007AFF;
}
.heading_create_events{
    font-size: 45px;
}
.create_event_button{
    border: 3px solid #007AFF;
    border-radius: 20px;
    color: #007AFF;
    background-color: #F7FCFD;
    width: 200px;
    height: 46px;
}
.can_be_here_underline{
    left: 0px;
    margin-top: 58px;
}
.create_event_section{
    padding-left: 71px;
    margin-top: 118px;
}