.card_body_1 {
  width: 375px;
  line-height: 1.5;
}

.card_body_1::before {
  content: "1";
  position: relative;
  top: 100px;
  left: -30px;
  color: #e3e3e3;
  opacity: 0.65;
  font-size: 110px;
  font-weight: 500;
}

.card_body_2 {
  width: 375px;
  line-height: 1.5;
}

.card_body_2::before {
  content: "2";
  position: relative;
  top: 90px;
  left: 250px;
  color: #e3e3e3;
  opacity: 0.65;
  font-size: 110px;
  font-weight: 500;
}

.card_body_3 {
  width: 375px;
  line-height: 1.5;
}

.card_body_3::before {
  content: "3";
  position: relative;
  top: 120px;
  left: 240px;
  color: #e3e3e3;
  opacity: 0.65;
  font-size: 110px;
  font-weight: 500;
}

.card_body_4 {
  width: 475px;
  line-height: 1.5;
}

.card_body_4::before {
  content: "4";
  position: relative;
  top: 135px;
  left: 270px;
  color: #e3e3e3;
  opacity: 0.65;
  font-size: 110px;
  font-weight: 500;
}

.img {
  max-width: 360px;
  // margin-right: 50px;
}
.card-title {
  font-size: 18px !important;
}

.card-details {
  letter-spacing: 0.42px;
}

@media (max-width: 767px) {
  .cards_body {
    max-height: 900px;
  }
  .card_body_1 {
    height: 150px;
    width: 100vw;
    margin-left: 32px;
    position: relative;
  }

  .card_body_1::before {
    content: "1";
    position: absolute;
    top: 0;
    left: 130px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 77px;
  }

  .card_body_2 {
    height: 150px;
    width: 100vw;
    margin-top: 20px;
    margin-left: 32px;
    position: relative;
  }

  .card_body_2::before {
    content: "2";
    position: absolute;
    top: 0;
    left: 110px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 77px;
  }

  .card_body_3 {
    height: 150px;
    margin-top: 20px;
    width: 100vw;
    margin-left: 32px;
    position: relative;
  }

  .card_body_3::before {
    content: "3";
    position: absolute;
    top: 10px;
    left: 80px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 77px;
  }

  .card_body_4 {
    height: 270px;
    width: 100vw;
    margin-left: 32px;
    position: relative;
  }

  .card_body_4::before {
    content: "4";
    position: absolute;
    top: 10px;
    left: 230px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 77px;
  }
}

@media (min-width: 768px) {
  .cards_container {
    margin-left: 130px;
  }

  .card_body_1 {
    max-width: 335px;
  }

  .card_body_1::before {
    content: "1";
    position: relative;
    top: 100px;
    left: -30px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 100px;
  }

  .card_body_2 {
    max-width: 342px;
  }

  .card_body_2::before {
    content: "2";
    position: relative;
    top: 90px;
    left: 250px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 100px;
  }

  .card_body_3 {
    max-width: 335px;
  }

  .card_body_3::before {
    content: "3";
    position: relative;
    top: 120px;
    left: 240px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 100px;
  }

  .card_body_4 {
    max-width: 335px;
  }

  .card_body_4::before {
    content: "4";
    position: relative;
    top: 135px;
    left: 270px;
    color: #e3e3e3;
    opacity: 0.65;
    font-size: 100px;
  }

  .doctor_img {
    margin-right: 175px;
    margin-left: auto;
  }
}
