.key__point_indicator_bg_img{
    background-image: url('../../../assets/images/event_landing_page/keypoint_indicator/key_point_indicator_img.png');
//    width: 1440px;
   height: 508px;
   background-size: cover;
}
.indicator_section{
    font-size: 45px;
}
.text_second{
    margin-left: 45px;
}