@import "~@doct-react/core/build/variables.scss";

.inceredible_underline {
 right: 185px;
}
.create_account_page_button{
background-color: #007AFF;
width: 232px;
height: 46px;
border-radius: 26px;
background: #007AFF;
color:  $white;
border: none;

  &:hover {
  background-color: #0062CC;
  color: $white;
 }
}

.create_account_section_container{
  margin-top: 100px;
}