.video_section_title {
    font-weight: 900;
    font-size: 45px;
}
.video_player {
    background-color: #e1e1e1;
    height: 501px;
    max-width: 964px;
    border-radius: 15px;
}
.video_section_redefining_underline{
      right: 176px;
}