.preview_institute_image {
    max-width: 84px;
    max-width: 84px;
    object-fit: cover;
}


.course_verified_button {
    font-size: 12px;
    border-radius: 10px;
}

.course_preview_key_features p {
    max-width: 185px;
}