.banner_container {
     margin-top: 105px;
}  

.banner_heading_subtitle {
    color: #505e83;
    letter-spacing: 3.4px;
}

.banner_heading_title {
    color: #232839;
    font-size: 55px;
    font-weight: bolder;
}

.landingpage_text_content_container {
    max-width: 580px;
}

.images_container {
    max-width: 496px;
    height: 580px;
}

.bg_illustration_banner {
    top: 150px;
    left: -350px;
}
