
.events_landingpage_features_background_section{
    background-color: #F7FCFD;
    min-height: 949px;
}
.events_features_img_icon{
    width: 71px;
    height: 71px;
    margin-top: 80px;
}
.events_features_card_title{
    font-size: 20px;
    width: 207px;
}
.events_features_card_subtitle{
    font-size: 16px;
    max-width: 276px;
}
.events_feature_numbering{
   margin-left: 44px;
    margin-top: -45px;
}
.number_seven{
     margin-top: -66px;
     margin-left: 77px;
}
.number_eight{
    margin-top: -66px;
    margin-left: 77px;
}
.events_feature_handing{
    margin-top: 150px;
}
.events_features_last_two_card{
    margin-top: 80px;
}

