.cleintele_container {
    min-height: 686px;
    margin-top: 142px;
    background-image: url("../../../assets/images/landing_page/cleintele_section/bg_img.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h3 {
    font-size: 45px;
}

.clientele_images_container {
    bottom: 30px;
}

.clientele_slider_img_container {
    width: 164px !important;    
}
