.call_to_action_body {
    background: url("../../../assets/images/landing_page/call_to_action_image/bg_img.png");
    height: 620px;
    // margin-top: 154px;
}

.call_to_action_text {
    font-size: 50px;
    font-weight: bolder;
}
