.faq_section_header {
    font-weight: 900;
    max-width: 716px;
    font-size: 45px !important;
}

.faq_section_header_container {
    margin-top: 100px;
}

.events_landingpage_questions_section_text {
    font-weight: 900;
    margin-top: 129px;
    
    margin-bottom: 80px;
    font-size: 45px;
}
.for_top_line{
     border-top: 2px solid #CECECE;
    max-width: 964px;
    margin-left: 96px;
}
.questions_modal_container {
    max-width: 964px;
    border-bottom: 1px solid #CECECE;
   border-bottom: 2px solid #CECECE;
    padding-top: 12px;
    padding-bottom: 12px;
}

.modal_open {
    transform: rotate(180deg);
}

.modal_close {
    transform: rotate(0deg);
}

.modal_questions {
    font-size: 20px;
    font-weight: 600;
}

.modal_answers {
    font-size: 20px;
    font-weight: normal;
}
