@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800;900&display=swap");

.landingpage_body {
    font-family: "Manrope", sans-serif;
    overflow-x: hidden;
    // background-image: url("../../assets/images/landing_page/landing_page_bg.png");
}

.dashboard_landing_page_common_button {
    background-color: #007aff;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 26px;
    font-size: 18px;
}

.dashboard_landing_page_common_button:hover {
    background-color: #0062cc;
}
