.close_job_modal .doct-secondary-button {
    display: none !important;
}

.close_job_modal .doct-primary-button {
    background-color: #ea4335 !important;
}

.close_job_modal .doct-primary-button:hover {
    background-color: #ee2b19 !important;
}

.close_job_modal .MuiTypography-body1 {
    line-height: normal !important;
}
